{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <nav class="navbar fixed-top navbar-expand-lg bg-light">

    </nav>
    <br><br>

    <div class="contenido">
        <h1>Administrar tienda</h1>
        <br>
        <a href="{% url 'usuarios' %}"> Mantenedor de Usuarios</a> <br> <br>
        <a href="{% url 'producto_tienda' %}">Mantenedor de productos</a>
        <a href="{% url 'historial_ventas' %}">Historial de Ventas</a> <br> <br>
        <a href="{% url 'bodega' %}">Mantenedor de Bodegas</a> <br> <br>
    </div>

    <br><br><br><br><br>
{% endblock content %}