{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <nav class = "navbar fixed-top navbar-expand-lg bg-light">
      {%include 'core/navbar.html'%}
    </nav>

    <h1 class="text-center pt-5"> Mantenedor de Bodega</h1>
    <br>
 
    {% if form %}
    <form method="POST" action="" enctype="multipart/form-data" id="formbodega">
      <div class="form-group">
          {% csrf_token %} {{ form.as_p }}
      </div>
      <input type="submit" class="btn btn-primary btnwidth" id="id_guardar" value="Guardar">
      <a class="btn btn-success ancho-150px" href="{% url 'admin_bodega' %}"> Nuevo </a>
    {% endif %}


    <!-- <input type="reset" class="btn btn-primary btnwidth" id="id_nuevo" value="Nuevo"> -->
      {% if mesg %}
      <div id="form_message" class="alert alert-danger" role="alert">{{ mesg }}</div>
      {% endif %}
  </form>
  {% if productos %}
    <div class="m-5">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Categoria</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Imagen</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              {% for p in productos %}
              <tr>
                <th> {{p.bodega_id}} </th>
                <th> {{ p.nombre_categoria }} </th>
                <th> {{p.nombre_producto}} </th>
                <th> {{p.estado}} </th>
                <th><img src="/media/{{ p.imagen }}" style="height: 200px;"></th>
                <th><a href="{% url 'eliminar_producto_en_bodega' p.bodega_id %}">ELIMINAR</a></th>
              </tr>
              {%endfor%}
            </tbody>
          </table>
    </div>
{%endif%}

{% endblock content %}
