{% extends 'core/base.html' %}
{% load static %}

{% block content %}


    <br>
    <h1 class="text-center pt-5">Detalle de boleta {{boleta.nro_boleta}}</h1> 
    <br>
    <div class="row text-center" id="row_progress_bar">
        <div class="col">
            ESTADO: {{boleta.estado}}
        </div>
        
    </div>
    {% if boleta.estado == 'Vendido' %}
    <div class="progress m-5" role="progressbar" aria-label="Success striped example" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped bg-success" style="width: 30%"></div>
    </div>
    {% endif %}
    {% if boleta.estado == 'Anulado' %}
    <div class="progress m-5" role="progressbar" aria-label="Success striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped bg-success" style="width: 0%"></div>
    </div>
    {% endif %}
    {% if boleta.estado == 'Despachado' %}
    <div class="progress m-5" role="progressbar" aria-label="Success striped example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped bg-success" style="width: 80%"></div>
    </div>
    {% endif %}
    {% if boleta.estado == 'Entregado' %}
    <div class="progress m-5" role="progressbar" aria-label="Success striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped bg-success" style="width: 100%"></div>
    </div>
    {% endif %}
    <div class="container">
        
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Nro. boleta</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Monto sin IVA</th>
                  <th scope="col">IVA</th>
                  <th scope="col">TOTAL</th>
                  <th scope="col">Fecha venta</th>
                  <th scope="col">Fecha despacho</th>
                  <th scope="col">Fecha entrega</th>
    
                </tr>
            </thead>
                <tbody>
                    <tr>
                    <td>{{boleta.nro_boleta}}</td>
                    <td>{{boleta.cliente}}</td>
                    <td>${{boleta.monto_sin_iva}}</td>
                    <td>${{boleta.iva}}</td>
                    <td>${{boleta.total_a_pagar}}</td>
                    <td>{{boleta.fecha_venta}}</td>
                    <td>{{boleta.fecha_despacho}}</td>
                    <td>{{boleta.fecha_entrega}}</td>

                    </tr>
                
                </tbody>
            </table>                   
        </div>



{% endblock content %}
