{% extends 'core/base.html' %}
{% load static %}

{% block content %}


    
    <br>
    <h1 class="text-center pt-5">Carrito de compras</h1>
    <br>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                  
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>

    <div class="container" id="compras_footer">
        
        <div class="row justify-content-end mt-3">
            <div class="col-md-3 offset-md-1">
              <button type="button" class="btn btn-primary">Pagar</button>
              <button type="button" class="btn btn-danger">Cancelar compra</button>
          </div>
    </div> 
    </div>

{% endblock content %}
