{% extends 'core/base.html' %}
{% load static %}

{% block content %}

    <nav class = "navbar navbar-expand-lg bg-light">
        {%include 'core/navbar.html'%}
    </nav>
    <br>
    <h1>Ficha de Producto</h1>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="mx-auto col-sm-12 col-md-6 col-lg-6 col-xl-6 ficha_auto_recuadro">
                <img src="/media/{{ imagen }}" class="ficha_auto_imagen" alt="">
            </div>
            <div class="mx-auto col-sm-12 col-md-6 col-lg-6 col-xl-6 ficha_datos_recuadro">
                <h1>
                    {{ nombre }}<br><br>
                </h1>
                <h4>
                {{ descripcion }}<br><br>
                </h4>
                <p>{{ html_stock }}</p>
                {{html_precio|safe}}
                <br>
                <a href="{%url 'agregar_producto_al_carrito' id%}" class="btn btn-primary">Agregar al Carrito</a>
            </div>
        </div>
    </div>
{% endblock content %}