{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <h1>Historial de ventas</h1>
    <br>
    {% if historial %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nro boleta</th>
                <th scope="col">Nombre Cliente</th>
                <th scope="col">Subscrito</th>
                <th scope="col">Monto total</th>
                <th scope="col">Estado actual</th>
                <th scope="col">Detalle</th>
                <th scope="col">Fecha venta</th>
                <th scope="col">Fecha Despacho</th>
                <th scope="col">Fecha Entrega</th>
                <th scope="col">Cambiar Estado</th>
            </tr>
        </thead>
        <tbody>
            {%for h in historial%}
            <tr>
                <td> {{h.nro_boleta}} </td>
                <td>{{h.nom_cliente}}</td>
                <td>{{h.subscrito}}</td>
                <td>{{h.total_a_pagar}}</td>
                <td>{{h.estado}}</td>
                <td><a href="{% url 'boleta' h.nro_boleta %}">Ver detalle</a></td>
                <td>{{h.fecha_venta}}</td>
                <td>{{h.fecha_despacho}}</td>
                <td>{{h.fecha_entrega}}</td>
                <td>
                    <a href="{% url 'cambiar_estado_boleta' h.nro_boleta 'Anulado' %}">Anulado</a>
                    <a href="{% url 'cambiar_estado_boleta' h.nro_boleta 'Vendido' %}"">Vendido</a>
                    <a href="{% url 'cambiar_estado_boleta' h.nro_boleta 'Despachado' %}"">Despachado</a>
                    <a href="{% url 'cambiar_estado_boleta' h.nro_boleta 'Entregado' %}">Entregado</a>
                </td>
                
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%endif%}
<br>

{% endblock content %}
    
