{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <h1>Historial de ventas</h1>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nro boleta</th>
                <th scope="col">Fecha venta</th>
                <th scope="col">Nombre Cliente</th>
                <th scope="col">Subscrito</th>
                <th scope="col">Monto total</th>
                <th scope="col">Estado actual</th>
                <th scope="col">Detalle</th>
                <th scope="col">Cambiar Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>425</td>
                <td>1/1/2022</td>
                <td>Claudia Parra</td>
                <td>No</td>
                <td>$15.000</td>
                <td>Entregado</td>
                <td><a href="{% url 'boletas' %}">Ver detalle</a></td>
                <td>
                    <a href="#">Anulado</a>
                    <a href="#">Vendido</a>
                    <a href="#">Despachado</a>
                    <a href="#">Entregado</a>
                </td>
            </tr>
            <tr>
                <td>535</td>
                <td>1/3/2022</td>
                <td>Claudia Parra</td>
                <td>No</td>
                <td>$15.000</td>
                <td>Despachado</td>
                <td><a href="{% url 'boletas' %}">Ver detalle</a></td>
                <td>
                    <a href="#">Anulado</a>
                    <a href="#">Vendido</a>
                    <a href="#">Despachado</a>
                    <a href="#">Entregado</a>
                </td>
            </tr>
        </tbody>
    </table>
<br>

{% endblock content %}
    
