{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <nav class = "navbar navbar-expand-lg bg-light">
    </nav>
    <br>
    <h1 class="text-center">Mis compras anteriores</h1>
    <br>
    <div class="container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nro boleta</th>
                <th scope="col">Fecha venta</th>
                <th scope="col">Fecha despacho</th>
                <th scope="col">Fecha entrega</th>
                <th scope="col">Monto total</th>
                <th scope="col">Estado actual</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">425</th>
                <td>1/1/2022</td>
                <td>3/1/2022</td>
                <td>3/1/2022</td>
                <td>$15.000</td>
                <td>Entregado</td>
                <td><a href="{% url 'boleta' %}">Ver detalle</a></td>
              </tr>
              <tr>
                <th scope="row">535</th>
                <td>1/3/2022</td>
                <td>3/3/2022</td>
                <td>3/1/2022</td>
                <td>$15.000</td>
                <td>Despachado</td>
                <td><a href="{% url 'boleta' %}">Ver detalle</a></td>
              </tr>
              <tr>
                <th scope="row">675</th>
                <td>15/3/2022</td>
                <td>16/3/2022</td>
                <td>16/2/2022</td>
                <td>$15.000</td>
                <td>Vendido</td>
                <td><a href="{% url 'boleta' %}">Ver detalle</a></td>
              </tr>
            </tbody>
          </table>
    </div>
    

{% endblock content %}