{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    
</head>
<body>
    <nav class = "navbar navbar-expand-lg bg-light">
    </nav>
    <br>
    <h1 class="text-center">Mis compras anteriores</h1>
    <br>
    {% if historial %}
    <div class="container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nro boleta</th>
                <th scope="col">Fecha venta</th>
                <th scope="col">Fecha despacho</th>
                <th scope="col">Fecha entrega</th>
                <th scope="col">Monto total</th>
                <th scope="col">Estado actual</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
            {% for h in historial %}
              <tr>
                <th scope="row">{{h.nro_boleta}}</th>
                <td>{{h.fecha_venta}}</td>
                <td>{{h.fecha_despacho}}</td>
                <td>{{h.fecha_entrega}}</td>
                <td>{{h.total_a_pagar}}</td>
                <td>{{h.estado}}</td>
                <td><a href="{% url 'boleta' h.nro_boleta %}">Ver detalle</a></td>
              </tr>
            {%endfor%}
            </tbody>
          </table>
    </div>
    {% endif %}

{% endblock content %}