{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <nav class = "navbar fixed-top navbar-expand-lg bg-light">
        {%include 'core/navbar.html'%}
    </nav>
    <br><br>
    <div class="contenido">
        <h1>Nosotros</h1>
        <br>
        <p> En PetShop estamos comprometidos con el bienestar de tus mascotas. Somos una tienda en línea especializada en productos
        para animales de compañía, desde alimentos y juguetes hasta productos de cuidado y accesorios. Nos enorgullece ofrecer
        productos de alta calidad y marcas reconocidas para satisfacer las necesidades de tus peludos amigos. </p>
        
        <p>Nuestra misión es brindar a nuestros clientes una experiencia de compra fácil y conveniente, con un servicio al cliente
        excepcional y envío rápido y confiable. Sabemos que tus mascotas son parte de tu familia, por lo que nos esforzamos por
        ofrecer solo los mejores productos para mantenerlas felices y saludables. </p>
        
        <p>PetShop no solo nos preocupamos por el bienestar de tus mascotas, sino también por el bienestar de otros animales.
        Por eso, trabajamos con organizaciones benéficas para ayudar a los animales necesitados y fomentamos la adopción de
        mascotas a través de campañas de concientización. </p>
        
        <p>¡Gracias por elegir PetShop para todas tus necesidades de productos para mascotas! </p>
    </div>

    <br>

    <div class="cardm">
        <div class="card">
            <img src="{% static 'core/images/persona1.jpg' %}" alt="Avatar" >
            <div class="container">
                <h4><b>Juan Pérez</b></h4>
                <p>Gerente General</p>
                <p>jperez@petshop.cl</p>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'core/images/persona2.jpg' %}" alt="Avatar">
            <div class="container">
                <h4><b>Gabriela González</b></h4>
                <p>Jefa de Marketing y Ventas</p>
                <p>ggonzalez@petshop.cl</p>
            </div>
        </div>

        <div class="card">
            <img src="{% static 'core/images/persona3.jpg' %}" alt="Avatar">
            <div class="container">
                <h4><b>María Rojas</b></h4>
                <p>Jefa de Recursos Humanos</p>
                <p>mrojas@petshop.cl</p>
            </div>
        </div>
    </div>

    <br>
    <br>
{% endblock content %}
