{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<title>PetShop</title>
</head>

<body>

    <br>
    <div class="container" id="ropa">
        <div class="container mt-5">
            <h2 id="tituloRopa">¡Concursa por una prenda de vestir! <br>Por compras superiores a $20000 ya estás participando</h2>
        </div>
        <br>
        <div class="container mt-5" id="cards-ropa">
            
        </div>
    </div>

    <footer class="container-fluid grey fixed-bottom">
        {%include 'core/footer.html'%}
    </footer>

{% endblock content %}
    
{% block script %}
<script src="{% static 'core/js/api.js' %}"></script>
{% endblock script %}
